.dropzone__container {
    @include glassmorphism();
    color: $grey-100;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: 1rem;
 
    
    .dropzone {
        display: flex;
        flex-direction: column;
        border: 2px dashed #ccc;
        border-radius: 0.75rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        transition: all 1s ease;
        color: rgba($grey-300, 0.5);
        height: 4rem;
        padding: 1rem 4rem;
        
       
        
        &:hover {
            border-color: $primary;
            cursor: pointer;
            
            color: $primary-dark;
        }
        
        p {
            font-size: $font-size-sm;
            font-weight: 500;
        }
        
        em {
            font-size: $font-size-xs;
        }
      }

}


.image-browser {
    color: white;
    li {
        list-style-type: none;
        padding: 1rem;
        border-radius: 2px;
        &:hover {
            border-radius: 4px;
            background-color: rgb(22, 22, 22);
        }
    }
}