.dropzone__container {
    @include glassmorphism();
    color: $grey-100;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    border-radius: 1rem;
    width: 50vw;
    
    .dropzone {
        display: flex;
        flex-direction: column;
        border: 2px dashed #ccc;
        border-radius: 0.75rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        transition: all 1s ease;
        color: rgba($grey-300, 0.5);
        height: 4rem;
        padding: 1rem 4rem;
        
       
        
        &:hover {
            border-color: $primary;
            cursor: pointer;
            
            color: $primary-dark;
        }
        
        p {
            font-size: $font-size-sm;
            font-weight: 500;
        }
        
        em {
            font-size: $font-size-xs;
        }
      }

}
.image-editor {
    display: flex;
    width: 115%;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
}

.image-browser {
    @include glassmorphism();
    text-align: left;
    padding: 0.5rem 0.75rem;
    color: white;
    border-radius: 8px;

    li {
        list-style-type: none;
        padding: 0.25rem;
        border-radius: 2px;
        font-size: $font-size-xxs;
        &:hover {
            border-radius: 4px;
            background-color: rgb(22, 22, 22);
        }
    }
}


.editor-tools {
    background-color: red;
    :nth-child(1) {

        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: start;
        align-items: start;
    }
}