/* Base font size */
$font-size-base: 16px; 

/* Minor Third Scale for Mobile */
$font-size-xs: calc(var(--font-size-base) / 1.200); /* Extra Small */
$font-size-sm: var(--font-size-base); /* Small */
$font-size-md: calc(var(--font-size-base) * 1.200); /* Medium */
$font-size-lg: calc(var(--font-size-md) * 1.200); /* Large */
$font-size-xl: calc(var(--font-size-lg) * 1.200); /* Extra Large */

/* Perfect Fourth Scale for Web */
$font-size-xs: calc(var(--font-size-base) / 1.333); /* Extra Small */
$font-size-sm: var(--font-size-base); /* Small */
$font-size-md: calc(var(--font-size-base) * 1.333); /* Medium */
$font-size-lg: calc(var(--font-size-md) * 1.333); /* Large */
$font-size-xl: calc(var(--font-size-lg) * 1.333); /* Extra Large */


