
:root {
    --font-size-base: 16px;
    /* Minor Third Scale for Mobile */

}

/* Perfect Fourth Scale for Web */
$font-size-xxs: 11.08px;
$font-size-xs: 13.33px;
$font-size-base: 16px;  
$font-size-md: 19.2px;
$font-size-lg: 23.04px;
$font-size-xl: 27.65px;


