// Colors
$grey-100: #f8f9fa;
$grey-150: #fcfbfb;
$grey-200: #e9ecef;
$grey-300: #dee2e6;
$grey-400: #ced4da;
$grey-500: #adb5bd;
$grey-600: #6c757d;
$grey-700: #495057;

$primary: #1482f8;
$primary-hover: #0055aa;
$primary-light: #66b2ff;
$primary-dark: #0056b3;

$error: #fd1d11;


$secondary: #6c757d;
$secondary-light: #a9b2bd;
$secondary-dark: #343a40;
$deep-dark: #101111;

// Spacing
$spacing-unit: 8px;

$spacing-1: $spacing-unit * 0.5; // 4px
$spacing-2: $spacing-unit * 1; // 8px
$spacing-3: $spacing-unit * 1.5; // 12px
$spacing-4: $spacing-unit * 2; // 16px
$spacing-5: $spacing-unit * 3; // 24px
$spacing-6: $spacing-unit * 4; // 32px
$spacing-7: $spacing-unit * 5; // 40px

// Font sizes
$font-size-base: 16px;

$font-size-xxs: $font-size-base * 0.5; // 12px
$font-size-xs: $font-size-base * 0.75; // 12px
$font-size-sm: $font-size-base * 0.875; // 14px
$font-size-md: $font-size-base; // 16px
$font-size-lg: $font-size-base * 1.25; // 20px
$font-size-xl: $font-size-base * 1.5; // 24px
$font-size-xxl: $font-size-base * 2; // 32px

// Glassmorphism Mixin
@mixin glassmorphism(
  $bg-color: rgba(255, 255, 255, 0.055),
  $blur: 5px,
  $border-radius: 15px,
  $box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1),
  $border: 1px solid rgba(255, 255, 255, 0.2)
) {
  background: $bg-color;
  backdrop-filter: blur($blur);
  -webkit-backdrop-filter: blur($blur); // Safari support
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  border: $border;
}

@mixin blue-shadow(
  $x: -4px,
  $y: 12px,
  $blur: 35px,
  $spread: 0px,
  $color: rgb(2, 7, 58)
) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}
