// Office Color Palette
$blue: #0000ff; // Primary blue color
$onix: #121212; // Deep black for high contrast
$steel: #666666; // Medium gray for secondary elements
$gray: #a8a8a8; // Light gray for subtle details
$soapstone: #fffcf8; // Off-white for backgrounds and accents

// Greyscale Color Palette
$grayscale__50: #fafafa;
$grayscale__100: #f4f4f5;
$grayscale__200: #e4e4e7;
$grayscale__300: #d4d4d8;
$grayscale__400: #a1a1aa;
$grayscale__500: #71717a;
$grayscale__600: #52525b;
$grayscale__700: #3f3f46;
$grayscale__800: #27272a;
$grayscale__900: #18181b;
$grayscale__950: #09090b;
$grayscale__1000: #040405;
$grayscale__1050: #010102;

// Font Size Variables

$font-size-xs: 0.7rem; // Extra small (12px)
$font-size-sm: 0.875rem; // Small (14px)
$font-size-md: 1rem; // Medium (16px)
$font-size-lg: 1.125rem; // Large (18px)
$font-size-xl: 1.25rem; // Extra large (20px)
$font-size-xxl: 1.5rem; // Double extra large (24px)
$font-size-xxxl: 2rem; // Triple extra large (32px)
