@import "./styles/variables.scss";


@import "./components/DropzoneForm/DropzoneForm.scss";


body,html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app {
    width: 100vw;
    height: 88vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
h3 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}

h2 {
    color: $grey-500;
    font-size: $font-size-xs;
}

p, em {
    margin: 0;
    display: flex;
    flex-direction: column;
}



canvas {
    @include glassmorphism();

    width: 75vw;
    margin: 0;
    padding: 0.5rem;
    border-radius: 24px;
}

button  {
    @include glassmorphism();
    padding: 1rem 2rem;
    color: $grey-500;
    border-radius: 8px;
    transition: 0.5s;
    &:hover {
        border-color: $error;
        color: $error;
        cursor: pointer;
        transition: 0.5s ease-out;
    }
}

