// User Defined styles
@import "./styles/variables/breakpoints";
@import "./styles/variables/effects";
@import "./styles/variables/spacing";
@import "./styles/variables/typography";
@import "./styles/variables/colors";

// IMPORTANT: Imported below, to load and use the variables
@import "./styles/Navbar.scss";
@import "./styles/Filelist.scss";
@import "./styles/Filters.scss";

@import "./App.scss";
// body,
// html {
//   width: 100vw;
//   height: 100vh;
//   font-family: "Inter", sans-serif;
// }

// // Reset margin and padding
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
}

p,
em,
a,
li,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

// input[type="range"] {
//   appearance: none; /* Remove default appearance */

//   width: 100%; /* Full width */
//   height: 5px; /* Height of the track */
//   background: $grayscale__700; /* Track background color */
//   border-radius: 4px;
//   outline: none; /* Remove outline when focused */
// }

// /* Style the slider thumb */
// input[type="range"]::-webkit-slider-thumb {
//   appearance: none; /* Remove default appearance */
//   appearance: none; /* For non-webkit browsers */
//   width: 15px; /* Thumb width */
//   height: 15px; /* Thumb height */
//   border-radius: 50%; /* Round shape */
//   outline: 2px solid $grayscale__500;
//   outline-offset: -2px;
//   background: $grayscale__700; /* Thumb color */
//   cursor: pointer; /* Hand cursor */
// }

// /* Style the thumb when active (while dragging) */
// input[type="range"]:active::-webkit-slider-thumb {
//   background: #0056b3; /* Darker blue when active */
//   transform: scale(1.2); /* Make the thumb slightly bigger */
//   outline-color: $grayscale__400;
// }
